
body{
  font-size: 14px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d4d4d4;
}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box}

 /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 20px; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.message-success {
  color:  #1f8300;
  font-size: 25px;
}
.message-error {
  color:  #ff002b;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

header{height: 50px; width: 100%; position: fixed; top: 0; z-index: 14; background-color: #fff}
#claim{font-size: 28px; padding-top: 100px; color: #ddd}

/* Style page content */
#main{ margin-left: 200px;
margin-top: 50px;}
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.wrapper{margin: 0 auto; max-width: 1260px; position: relative; height: 60px; padding: 0 2%;}
#wrapper{margin: 0 auto; max-width: 1260px; margin-top: 10px; position: relative; padding: 0 2%;}

.hint-js {
  font-size: 20px;
  color: #ff002b;
}

ul {padding: 8px;margin: 12px auto;border-radius: 4px;clear: both;overflow: hidden;}



.param-list label {margin-left: 10px; clear: both; float: left;}
.param-list input {
  margin-left: 10%;
  display: block;
  width: 50%;
  text-align: left;
}
.radio2 {
  margin-left: 10%;

}
.radio2 input {
  margin-left: 10%;
  width: auto;
  text-align: left;
  display: block;
}

.radio2 label {
  margin-left: 0;
  margin-right: 5px;
}

.param-list input[type=checkbox] { width: auto }
/*.param-list input[type=radio] { display: block }*/

#event-list label {margin-left: 10px; clear: both; float: left;}
#event-list input {
  margin-left: 15%;
  display: block;
  width: 50%;
  text-align: left;
}

#events .info{width: 80%; margin: 0 auto;  padding: 1%;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-radius: 4px;
}

#events .active{background-color: #000; color: #fff; border: 1px solid #000}

#events .show{display: block;}
#events .hide{display: none;}
#events ul {
  background-color: #757575;
}

#events li {
  font-size: 28px;
}
#events ul li {display: inline-block; vertical-align: middle;}
#events .c1{width: 40px; padding: 1.4%}
#events .c2{width: 0%; font-size: 22px; margin-left: 5%;}
#events .c3{width: 20%; min-width: 62px; text-align: right; float: right;}

#events .btn{display: inline-block; cursor: pointer; vertical-align: middle}
#events .btn img{height: 30px;}

#events .pad{padding-left: 10px}

